<!DOCTYPE html>
<html ng-app="blackseaonline">
<head>
  <title>Blackseaonline</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div ng-view>
		<%= yield %>
	</div>
</body>
</html>
